#container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hr {
    height: 2.5px;
    width: 100%;
    background-color: #777;
}

/* 시설 정보 */
.container__section1 {
    width: 100%;
}
.container__section1 .container__facility {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 1000px;
}
.container__section1 .container__facility .container__top {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: 52px;
}
.container__section1 .container__facility .container__top .facility-avg {
    color: rgb(172, 172, 31);
}
.container__section1 .container__facility .facility-img img {
    width: 1000px;
}
.container__section1 .container__facility-detail {
    width: auto;

}
.container__section1 .container__facility-detail .facility-info {
    height: 500px;
}

/* 리뷰 정보 */
.container__section2 {
    background-color: #ccc;
}