#container {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: none;
  margin-top: 82px;
}
.hr {
  height: 1px;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(187, 183, 183);
}
.review-avg {
  color: rgb(172, 172, 31);
}

/* 시설정보-헤더 */
.facility-header::before {
  content: ' ';
  display: block;
}
.facility-header {
  display: flex;
  justify-content: space-between;
  width: 500px;
  font-size: 2.8rem;
} 
.facility-title {
  display: flex;
  align-items: center;
}
.facility-header .favorite-icon {
  display: block;
  cursor: pointer;
  color: #acadae;
  font-size: 56px;
  transition: all 0.3s;
}
.facility-header .favorite-icon:hover {
  color: rgba(255, 155, 172, 0.462);
}
/* 시설 정보-바디 */
.facility-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 1200px;
  padding: 26px 120px;
  margin: 48px 0;
  font-size: 1.2rem;
}
/* 시설정보-이미지 */
.facility-body .img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.facility-body .img-wrap .facility-img {
  width: 500px;
  height: 500px;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* 시설정보-상세 */
.facility-body .facility-detail-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 600px;
  padding: 48px;
  margin-left: 32px;
}

/* 리뷰 정보 */
.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 80%;
  margin: 120px auto;
}
.review-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 700px;
  max-width: 1000px;
}
.review-header .total-info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 24px;
}
.review-header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border-radius: 36px;
  border: 2px solid var(--color-others-header);
}
.review-header__main > div[class^=review-header] {
  margin-top: 22px;
}
.review-header__title {
  font-size: 2.5rem;
}
.review-header__star {
  font-size: 1.5rem;
}
.review-header__avg {
  font-size: 4.5rem;
}
.review__btn-write {
  display: flex;
  align-items: flex-end;
}
.review__btn-write .btn-review {
  display: inline-block;
  width: 120px;
  height: 40px;
  background-color: var(--color-others-header);
}
.review-lists .review-item {
  position: relative;
  display: flex;
  height: 250px;
  width: 100%;
  min-width: 600px;
  margin: 48px 0;
  padding: 36px;
  border-radius: 16px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.review-lists .review-item__img {
  background-color: azure;
  border-radius: 50%;
  width: 160px;
  height: 100%;
  margin-right: 24px;
  flex-grow: 0;
  flex-shrink: 0;
}
.review-lists .review-item__img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.review-lists .review-item__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
  border-width: 400;
  margin: 18px;
}
.review-lists .review-item__info .user-name {
  font-size: 16px;
  font-weight: 600;
}
.review-lists .review-item__info .date {
  font-size: 16px;
  margin-bottom: 18px;
}
.review-lists .review-item__star {
  position: absolute;
  top: 24px;
  right: 24px;
}
.pagination-wrap .pagination a {
  font-weight: 700;
  border-radius: 0px;
  color: var(--color-main-header);
}

/* 기타 */
.fixed-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 32px;
  right: 0;
  top: 1200px;
  color: var(--color-main-header);
  background-color: #dbdee144;
  border-radius: 12px;
}
.fixed-menu a {
  display: block;
  padding: 4px;
  transition: all 0.3s;
}
.fixed-menu a:hover {
  color: var(--color-main-header);
  transform: scale(1.12);
}

