* {outline: 1px solid red;}

#container {
    height: auto;
}

.contents {
    width: 80%;
    margin: 0 auto;
}

/* 리스트 헤더 */
.review-header {
    padding-top: 64px;
}
.review-header__title {
    width: 50%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}
.review-header__grade {
    height: 200px;
}
.review-header__btn {
    height: 100px;
}

/* 리스트 메인 */
.review-lists {
    padding-top: 16px;
}
.review-lists .new-review-num {
    height: 100px;
}
.review-lists .review-item {
    height: 200px;
}

/* 페이지네이션 */
.pagenation {
    height: 150px;
}