
#container {
  height: auto;
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 검색  */
.search {
  width: 100%;
}
.search .search__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 24px;
}
.search .search__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
.search .search__main .search__select-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  border-radius: 36px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0 12px;
  margin: 0 auto;
}
.search .search__main .search__select-input .search__cg-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 0;
  width: 100%;
}
.search .search__main .category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 14px;
  padding: 0 18px;
  margin: 0 auto;
}
.search .search__main .category p {
  display: inline-block;
  text-align: center;
  margin: 12px;
  padding: 6px;
  color: rgb(46, 63, 77);
  background-color: #ffffff99;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: all 0.2s;
  cursor: pointer;
}
.search .search__main .category .cg-active {
  background-color: rgba(244, 106, 0, 0.758);
}
.search .search__main .category li:hover p {
  transform: translate(0px,-6px) scale(1.06);
}
.search .search__main .category-title {
  display: inline-block;
  align-self: start;
  width: 120px;
  text-align: center;
  margin: 0 auto;
  padding: 4px 0;
}
.search .search__main .category-title p {
  padding: 8px;
}
.search .search__main .search-map {
  display: flex;
  width: 100%;
  background-image: linear-gradient(-20deg, hsla(191, 93%, 77%, 0.279) 0%, hsl(37, 100%, 49%) 100%);
}
.search .search__main .search-map .selected-wrap {
  width: 20%;
  min-width: 260px;
}
.search .search__main .search-map .selected-wrap .search-wrap__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  padding: 16px;
  height: 5%;
  background-color: #16a085;
}
.search .search__main .search-map .selected-wrap .search-wrap__header::after {
  content: attr(-data-after);
}
.search .search__main .search-map .selected-wrap .search__text-input {
  margin: 8px;
}
.search .search__main .search-map .selected-wrap .search__text-input span {
  background-color: #16a084;
  border-style: none;
}
.search .search__main .search-map .selected-wrap .search__text-input input[type=text] {
  font-size: 12px;
  font-weight: 700;
}
.search .search__main .search-map .selected-wrap .search-wrap__cg-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 65%;
  width: 100%;
}
.search .search__main .search-map .selected-wrap .search-wrap__cg-wrap .selected-cg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  width: 100px;
  margin: 8px;
  padding: 6px;
  background-color: rgba(244, 106, 0, 0.632);
  border-radius: 22px;
}
.search .search__main .search-map .selected-wrap .searched-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16a084;
  width: 150px;
  max-height: 32px;
  padding: 8px;
  margin: 0 auto;
  background-color: rgba(244, 106, 0, 0.632);
  border-radius: 22px;
  opacity: 0;
  font-size: 12px;
}
.search .search__main .search-map .selected-wrap .search-wrap__cg-wrap .selected-cg label {
  cursor: pointer;
}
.search .search__main .search-map .selected-wrap .search-wrap__btn-wrap {
  position: relative;
  width: 100%;
  padding: 26px;
}
.search .search__main .search-map .search-map__api {
  width: 80%;
  max-height: 500px;
}
.search .search__main .search-map .search-map__api .map {
  width: 100%;
  height: 100%;
}
/* 리스트 */
.search-output-ls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 48px 0;
}
/* 리스트 카드*/
.search-output-ls .search-result {
  width: 48%;
  margin: 0 auto;
  padding: 12px;
  border-radius: 24px;  
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  border-style: none;
}
.search-output-ls .search-result .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.search-output-ls .search-result .card-body h3 {
  font-weight: 700;
  font-size: 1.2em;
}

/* 페이지네이션 */
#container .pagenation-wrap{
  padding-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .pagenation-wrap .pagination a {
  color: var(--color-main-header);
}

/* 기타 */
.hr {
  height: 2px;
  width: 80%;
  background-color: black;
}
.selected-btn-wrap {
  background-color: #16a085;
  height: 60px;
}
.btn-selected {
  position: absolute;
  bottom: 0;
  width: 40%;
  font-size: 14px;
  padding: 6px;
  margin: 0 12px;
  background-color: #16a084;
  border-style: none;
  transition: all 0.4s;
}
.btn-selected:hover {
  transform: scale(0.88);
  color: white;
  box-shadow: hsl(168, 76%, 36%,0.6) 0px 0px 0px 6px;
  transition: all 0.4s;
}
.btn-selected:active {
  transform: scale(0.86);
  background-color: hsl(168, 76%, 36%,0.4);
  transition: all 0.06s;
  box-shadow: hsl(168, 76%, 36%,0.6) 0px 0px 0px 1px;
}
.btn-selected.btn-search {
  left: 0;
}
.btn-selected.btn-reset {
  right: 0;
}
.btn-close {
  width: 100%;
  padding: 8px;
  font-size: 0.7em;
}
.lable-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  font-size: 20px;
  font-weight: 700;
}
.search .search__main .search-map .selected-wrap .opacity_on {
  opacity: 1;
}



